<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/users.css">
    <link rel="stylesheet" href="/css/display.css">
    <link rel="stylesheet" href="/css/homepage.css" />


    <title>Document</title>
</head>

<body class="flex jC-center aI-center fD-column">
    <nav class="flex jC-fS aI-center nav-bar">
        <img class="flex jC-center" style="height:20px; margin-right: 10px;" src="/image/logo_knock_white.png" alt="">

        <a href="/users/" class="base-btn nav-btn">controll door</a>
     
        <form action="logout" method="POST">
          <button class="base-btn nav-btn" id="logout-btn" type="submit">Log Out</button>
        </form>
    </nav>
    <table>
        <caption>LIST USER</caption>
        <tr>
            <th>ID</th>
            <th>username</th>
            <th>Password </th>
            <th>Role</th>
            <th>Action</th>
        </tr>
        <% user.forEach(u=> { %>
            <tr>
                <td>
                    <%- u.id%>
                </td>
                <td>
                    <%- u.username%>
                </td>
                <td>
                    <%- u.password%>
                </td>
                <td>
                    <% switch(u.role){ 
                        case 1: %>
                            user
                            <% break;
                        case 2: %>
                            admin
                            <% break;
                        default: %>
                            no role
                            <% break;
                    } %>
                </td>
                <td class="flex jC-sB aI-center">
                    <a class="base-btn action-btn" href="/users/<%- u.id%>/delete">delete</button>
                    <a class="base-btn action-btn" href="/users/<%- u.id%>/edit">edit</a>
                </td>
                <% }) %>
            </tr>
    </table>
    <br>
    <a class="base-btn" id="create-btn" href="/users/create">create</a>
</body>

</html>